.labelsWrapper{
    display: flex;
    flex-direction: column;
}
.inputLabel{
    font-size: 14px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.inputWrapper{
    display: flex;
    border: 1px solid;
    border-radius: 3px;
    align-items: center;    
    padding: 3px; 
}
.inputWrapper.focus{
    box-shadow: 0 0 4px #1890ff;
    border-color: #1890ff;
}
.inputWrapper.error{
    border-color: red;
    box-shadow: 0 0 4px red;
}
.img{
    display: flex; 
    height: 20px;
    width: 20px;
}
.input{
    padding-left: 2px;
    border: none;
    outline:none;
    font-size: 14px;
    width: 100%;
}
.input.small{
    font-size: 14px;
}
.input.normal{
    font-size: 16px;
}
.input.big{
    font-size: 20px;
}
.inputError{
    padding-top: 2px;
    font-size: 12px;
    color: red;
}
