.header{
    display: flex;
    background: #fff;   
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.logoImg{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(../../assets/img/logo.svg);
}
.logoText{
    font-size: 18px;
}
.headerRigth{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 16px;
}
.headerRigth>li{
    margin-left: 10px;
}
.user{
    display: block;
    height: 40px;    
    width: 40px;
    background-size: cover;
    background-image: url(../../assets/img/user.svg);
}
